<footer class="page-footer font-small pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">DullCovers!</h5>
          <p>In der Gruppe Musik machen.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled">
            <li><a href="/">dullcovers.eu</a></li>
            <li><a href="https://soundcloud.com/dullcovers">Soundcloud</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Impressum</h5>
          <ul class="list-unstyled">
            <li><a href="/impress/">Rainer Jung</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>